# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [9]:
import numpy as np
import pandas as pd

In [1]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
auto_mpg = fetch_ucirepo(id=9) 
  
# data (as pandas dataframes) 
X = auto_mpg.data.features 
y = auto_mpg.data.targets 
  
# metadata 
print(auto_mpg.metadata) 
  
# variable information 
print(auto_mpg.variables)

{'uci_id': 9, 'name': 'Auto MPG', 'repository_url': 'https://archive.ics.uci.edu/dataset/9/auto+mpg', 'data_url': 'https://archive.ics.uci.edu/static/public/9/data.csv', 'abstract': 'Revised from CMU StatLib library, data concerns city-cycle fuel consumption', 'area': 'Other', 'tasks': ['Regression'], 'characteristics': ['Multivariate'], 'num_instances': 398, 'num_features': 7, 'feature_types': ['Real', 'Categorical', 'Integer'], 'demographics': [], 'target_col': ['mpg'], 'index_col': ['car_name'], 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1993, 'last_updated': 'Thu Aug 10 2023', 'dataset_doi': '10.24432/C5859H', 'creators': ['R. Quinlan'], 'intro_paper': None, 'additional_info': {'summary': 'This dataset is a slightly modified version of the dataset provided in the StatLib library.  In line with the use by Ross Quinlan (1993) in predicting the attribute "mpg", 8 of the original instances were removed because they had unknown values for the "mpg" attribute.  The original dataset is available in the file "auto-mpg.data-original".\r\n\r\n"The data concerns city-cycle fuel consumption in miles per gallon, to be predicted in terms of 3 multivalued discrete and 5 continuous attributes." (Quinlan, 1993)', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': '    1. mpg:           continuous\r\n    2. cylinders:     multi-valued discrete\r\n    3. displacement:  continuous\r\n    4. horsepower:    continuous\r\n    5. weight:        continuous\r\n    6. acceleration:  continuous\r\n    7. model year:    multi-valued discrete\r\n    8. origin:        multi-valued discrete\r\n    9. car name:      string (unique for each instance)', 'citation': None}}
           name     role         type demographic description units  \
0  displacement  Feature   Continuous        None        None  None
1           mpg   Target   Continuous        None        None  None
2     cylinders  Feature      Integer        None        None  None
3    horsepower  Feature   Continuous        None        None  None
4        weight  Feature   Continuous        None        None  None
5  acceleration  Feature   Continuous        None        None  None
6    model_year  Feature      Integer        None        None  None
7        origin  Feature      Integer        None        None  None
8      car_name       ID  Categorical        None        None  None

  missing_values
0             no
1             no
2             no
3            yes
4             no
5             no
6             no
7             no
8             no

In [2]:
auto_mpg

{'data': {'ids':                       car_name
  0    chevrolet,chevelle,malibu
  1            buick,skylark,320
  2           plymouth,satellite
  3                amc,rebel,sst
  4                  ford,torino
  ..                         ...
  393            ford,mustang,gl
  394                  vw,pickup
  395              dodge,rampage
  396                ford,ranger
  397                 chevy,s-10

  [398 rows x 1 columns],
  'features':      displacement  cylinders  horsepower  weight  acceleration  model_year  \
  0           307.0          8       130.0    3504          12.0          70
  1           350.0          8       165.0    3693          11.5          70
  2           318.0          8       150.0    3436          11.0          70
  3           304.0          8       150.0    3433          12.0          70
  4           302.0          8       140.0    3449          10.5          70
  ..            ...        ...         ...     ...           ...         ...
  393         140.0          4        86.0    2790          15.6          82
  394          97.0          4        52.0    2130          24.6          82
  395         135.0          4        84.0    2295          11.6          82
  396         120.0          4        79.0    2625          18.6          82
  397         119.0          4        82.0    2720          19.4          82

       origin
  0         1
  1         1
  2         1
  3         1
  4         1
  ..      ...
  393       1
  394       2
  395       1
  396       1
  397       1

  [398 rows x 7 columns],
  'targets':       mpg
  0    18.0
  1    15.0
  2    18.0
  3    16.0
  4    17.0
  ..    ...
  393  27.0
  394  44.0
  395  32.0
  396  28.0
  397  31.0

  [398 rows x 1 columns],
  'original':                       car_name  cylinders  displacement  horsepower  weight  \
  0    chevrolet,chevelle,malibu          8         307.0       130.0    3504
  1            buick,skylark,320          8         350.0       165.0    3693
  2           plymouth,satellite          8         318.0       150.0    3436
  3                amc,rebel,sst          8         304.0       150.0    3433
  4                  ford,torino          8         302.0       140.0    3449
  ..                         ...        ...           ...         ...     ...
  393            ford,mustang,gl          4         140.0        86.0    2790
  394                  vw,pickup          4          97.0        52.0    2130
  395              dodge,rampage          4         135.0        84.0    2295
  396                ford,ranger          4         120.0        79.0    2625
  397                 chevy,s-10          4         119.0        82.0    2720

       acceleration  model_year  origin   mpg
  0            12.0          70       1  18.0
  1            11.5          70       1  15.0
  2            11.0          70       1  18.0
  3            12.0          70       1  16.0
  4            10.5          70       1  17.0
  ..            ...         ...     ...   ...
  393          15.6          82       1  27.0
  394          24.6          82       2  44.0
  395          11.6          82       1  32.0
  396          18.6          82       1  28.0
  397          19.4          82       1  31.0

  [398 rows x 9 columns],
  'headers': Index(['car_name', 'cylinders', 'displacement', 'horsepower', 'weight',
         'acceleration', 'model_year', 'origin', 'mpg'],
        dtype='object')},
 'metadata': {'uci_id': 9,
  'name': 'Auto MPG',
  'repository_url': 'https://archive.ics.uci.edu/dataset/9/auto+mpg',
  'data_url': 'https://archive.ics.uci.edu/static/public/9/data.csv',
  'abstract': 'Revised from CMU StatLib library, data concerns city-cycle fuel consumption',
  'area': 'Other',
  'tasks': ['Regression'],
  'characteristics': ['Multivariate'],
  'num_instances': 398,
  'num_features': 7,
  'feature_types': ['Real', 'Categorical', 'Integer'],
  'demographics': [],
  'target_col': ['mpg'],
  'index_col': ['car_name'],
  'has_missing_values': 'yes',
  'missing_values_symbol': 'NaN',
  'year_of_dataset_creation': 1993,
  'last_updated': 'Thu Aug 10 2023',
  'dataset_doi': '10.24432/C5859H',
  'creators': ['R. Quinlan'],
  'intro_paper': None,
  'additional_info': {'summary': 'This dataset is a slightly modified version of the dataset provided in the StatLib library.  In line with the use by Ross Quinlan (1993) in predicting the attribute "mpg", 8 of the original instances were removed because they had unknown values for the "mpg" attribute.  The original dataset is available in the file "auto-mpg.data-original".\r\n\r\n"The data concerns city-cycle fuel consumption in miles per gallon, to be predicted in terms of 3 multivalued discrete and 5 continuous attributes." (Quinlan, 1993)',
   'purpose': None,
   'funded_by': None,
   'instances_represent': None,
   'recommended_data_splits': None,
   'sensitive_data': None,
   'preprocessing_description': None,
   'variable_info': '    1. mpg:           continuous\r\n    2. cylinders:     multi-valued discrete\r\n    3. displacement:  continuous\r\n    4. horsepower:    continuous\r\n    5. weight:        continuous\r\n    6. acceleration:  continuous\r\n    7. model year:    multi-valued discrete\r\n    8. origin:        multi-valued discrete\r\n    9. car name:      string (unique for each instance)',
   'citation': None}},
 'variables':            name     role         type demographic description units  \
 0  displacement  Feature   Continuous        None        None  None
 1           mpg   Target   Continuous        None        None  None
 2     cylinders  Feature      Integer        None        None  None
 3    horsepower  Feature   Continuous        None        None  None
 4        weight  Feature   Continuous        None        None  None
 5  acceleration  Feature   Continuous        None        None  None
 6    model_year  Feature      Integer        None        None  None
 7        origin  Feature      Integer        None        None  None
 8      car_name       ID  Categorical        None        None  None

   missing_values
 0             no
 1             no
 2             no
 3            yes
 4             no
 5             no
 6             no
 7             no
 8             no  }

,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg
0,307.0,8,130.0,3504,12.0,70,1,18.0
1,350.0,8,165.0,3693,11.5,70,1,15.0
2,318.0,8,150.0,3436,11.0,70,1,18.0
3,304.0,8,150.0,3433,12.0,70,1,16.0
4,302.0,8,140.0,3449,10.5,70,1,17.0
...,...,...,...,...,...,...,...,...
393,140.0,4,86.0,2790,15.6,82,1,27.0
394,97.0,4,52.0,2130,24.6,82,2,44.0
395,135.0,4,84.0,2295,11.6,82,1,32.0
396,120.0,4,79.0,2625,18.6,82,1,28.0
397,119.0,4,82.0,2720,19.4,82,1,31.0

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

### Step 5. What is the number of observations in each dataset?

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [16]:
cars = pd.concat([X, y], axis=1)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

### Step 8. Add the column owners to cars

In [17]:
cars['owners'] = np.random.randint(15000, 73001, size=len(cars))

In [18]:
cars

,displacement,cylinders,horsepower,weight,acceleration,model_year,origin,mpg,owners
0,307.0,8,130.0,3504,12.0,70,1,18.0,19920
1,350.0,8,165.0,3693,11.5,70,1,15.0,25292
2,318.0,8,150.0,3436,11.0,70,1,18.0,40490
3,304.0,8,150.0,3433,12.0,70,1,16.0,56318
4,302.0,8,140.0,3449,10.5,70,1,17.0,22725
...,...,...,...,...,...,...,...,...,...
393,140.0,4,86.0,2790,15.6,82,1,27.0,56456
394,97.0,4,52.0,2130,24.6,82,2,44.0,57907
395,135.0,4,84.0,2295,11.6,82,1,32.0,68144
396,120.0,4,79.0,2625,18.6,82,1,28.0,15305
397,119.0,4,82.0,2720,19.4,82,1,31.0,49717